schema design:

Article("ar_ID", title, url, type, scraped_at, updated_at)
AuthorTo(Name,"ar_ID")
KeywordTo("keyword", "article")
WordIn("word", "article", amount)

do we db-ify vocab? [yes]
do we add value checks? nah

Creation:

    CREATE TABLE Article (
        a_id INT PRIMARY KEY,
        title CHAR(255),
        url CHAR(128),
        author CHAR(64),
        type CHAR(16),
        scraped_at TIMESTAMP,
        inserted_at TIMESTAMP,
        updated_at TIMESTAMP,
        content TEXT,
        summary TEXT
    );

    CREATE TABLE Includes_keyword(
        article INT,
        keyword CHAR(32),
        PRIMARY KEY (article, keyword)
    );

    CREATE TABLE Includes_word(
        article INT,
        word CHAR(47),
        count INT,
        PRIMARY KEY (article, word)
    );

    CREATE TABLE Includes_author(
        article INT,
        name CHAR(32),
        PRIMARY KEY (article, name)
    );
`

In [5]:
import psycopg2
conn = psycopg2.connect("dbname=m2DATA user=postgres password=posty")

with conn.cursor() as cur:
    cur.execute('SELECT version()')
    print(cur.fetchone())

('PostgreSQL 13.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 11.2.0, 64-bit',)

Here we include all the code from last milestone for cleainging the data:

In [13]:
# imports
import pandas as pd
import string

from cleantext import clean
import nltk
#from nltk.corpus import stopwords
#from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [14]:

# Parse csv into dataframe
dfRaw = pd.read_csv ('1mio-raw.csv')

# drop some tables for brevity:
df = dfRaw.iloc[: , 1:]
df = df.drop(columns =[ "url", "scraped_at", "scraped_at", "inserted_at", "updated_at", "keywords", "summary"])

# have a peek at the data:
df.head(3)

/tmp/ipykernel_2499/1701869104.py:2: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  dfRaw = pd.read_csv ('1mio-raw.csv')

,id,domain,type,content,title,authors,meta_keywords,meta_description,tags,source
0,2,express.co.uk,rumor,"Life is an illusion, at least on a quantum lev...",Is life an ILLUSION? Researchers prove 'realit...,Sean Martin,[''],THE UNIVERSE ceases to exist when we are not l...,NaN,NaN
1,6,barenakedislam.com,hate,"Unfortunately, he hasn’t yet attacked her for ...",Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",[''],NaN,NaN,NaN
2,7,barenakedislam.com,hate,The Los Angeles Police Department has been den...,Donald Trump,"Linda Rivera, Conrad Calvano, Az Gal, Lincoln ...",[''],NaN,NaN,NaN

In [ ]:
# We want to make a pd.Series -> pd.Series function that cleans all the text
# lowercases everything removes urls, emails etc.

def clean_text(textSeries:pd.Series) -> pd.Series:
    def clean_func (text):
        return clean(text,
            fix_unicode=True,            
            to_ascii=True,               
            lower=True,                  
            no_line_breaks=True,        
            no_urls=True,                
            no_emails=True,              
            no_phone_numbers=False,      
            no_numbers=True,             
            no_punct=True,              
            replace_with_punct="",       
            replace_with_url="oURL", # clean_text lowers after tagging for some reason???
            replace_with_email="oEMAIL",
            replace_with_phone_number="oPHONE",
            replace_with_number="oNUM",
            replace_with_digit="0",
            lang="en")
    return textSeries.apply(clean_func)
            
df.content = clean_text(df.content)
df["meta_description"]

In [ ]:
# Tokenization
nltk.download('punkt') # fix

# Same as before a pd.Series -> pd.Series function.
def tokenize(textSeries:pd.Series) -> pd.Series:
    return pd.Series(textSeries.apply(nltk.tokenize.wordpunct_tokenize),name="tokens")
df["tokens"] = tokenize(df.content)

In [10]:
# stemming
# stems all the tokens
def stem (data:pd.Series)-> pd.Series:
    ps = PorterStemmer()
    # function to be applied on each element in series
    def stem (tokens):
        return [ps.stem(token) for token in tokens]
    return pd.Series(data.apply(stem))

# removal of duplicates
def dupeRemove (tokens:pd.Series) -> pd.Series:
    def unDupe (tokens):
        return list(set(tokens))
    return tokens.apply(unDupe)



df["stemmed_with_dupes"] = stem(df.tokens)
df["stemmed"] = dupeRemove(df.tokens)

NameError: name 'pd' is not defined

In [ ]:
# In the following section we have BOW code, to generate bags of words
# and combining them. As previous we well be using pd.Series as out datatype.
# The code takes a Long time to complete, might want to skip this section and 
# instead unpickle. 


# generate BOW given a set of tokens(with dupes).
def BOWGen(tokenss:pd.Series) -> pd.DataFrame: # with 2 cols for word and count
    
    #generate Bow for 1 list of tokens
    def _BOWGen(tokens:list) -> (list,list): # with 2 cols for word and count
        vocab = []
        freqs = []
        for token in tokens:
            if token not in vocab:
                vocab.append(token)
                freqs.append(1)
            else:
                # increment frequncy counter by one.
                freqs[vocab.index(token)] += 1
        return vocab,freqs
    return tokenss.apply(_BOWGen)


def BOWGenGlobal(BOWs:pd.Series) -> pd.DataFrame:
    def mergeBOWs(a:(list,list), b):
        vocab, freqs = a
        for (word, count) in zip(b[0],b[1]):
            if word not in vocab:
                vocab.append(word)
                freqs.append(count)
            else:
                freqs[vocab.index(word)] += count
        return vocab, freqs
    
    BOWList = [i for (_, i) in BOWs.items()]
    
    # accumulator
    _BOW = ([],[])
    for idx, BOW in enumerate(BOWList):
        _BOW = mergeBOWs(BOW, _BOW)
        if (idx) % 20 == 0:
            print(f"{idx} out of {len(BOWList)} ")
    out = pd.DataFrame((_BOW)).transpose()
    out.columns = ["word", "count"]
    out["count"] = out["count"].astype(int)
    out["frequency"] = out["count"]/out.size
    print("Done")
    return out
      
# test 
BOWs = BOWGenGlobal(BOWGen(df.tokens.iloc[0:10]))
BOWs.sort_values("count",ascending=False).iloc[0:5]

# Milestone 2

## Description

After cleaning and processing our data in the first milestone, Milestone 2 will focus on how to efficiently represent the data in a database. Like last time, the milestone takes the form of a short jupyter notebook. It must be handed in on Friday, April 29, at 16:00 (in groups), and it is a requirement for attending the exam (it will be evaluated as passed/fail).


## Task 1.

The first task is to demonstrate that you have a working database containing the FakeNewsCorpus dataset. Explain your choice of schema design. You have been working on this task on a small subset of the data during the TA-sessions. For this milestone, demonstrate that your database contains a larger number of rows (e.g. one million - or however many you can reasonably work with on your available hardware), and that it supports simple queries.


## Task 2.

List the relations you have created in your database. For each relation:

    list its attributes
    list its functional dependencies.
    list all the primary keys.

Is each relation in BCNF form? If not, show how to transform the tables in BCNF and explain why it might be better (or not) to use the BCNF relations in your database.


## Task 3.

Once your database is loaded, you can start issuing queries to better understand the characteristics of the data. Formulate the following queries in the database languages requested (in the square brackets following each item) and briefly discuss what you observe when you execute them over your database:   

    List the domains of news articles of reliable type and scraped at or after January 15, 2018. NOTE: Do not include duplicate domains in your answer. [Languages: relational algebra and SQL]
    List the name(s) of the most prolific author(s) of news articles of fake type. An author is among the most prolific if it has authored as many or more fake news articles as any other author in the dataset. [Languages: extended relational algebra and SQL]
    Count the pairs of article IDs that exhibit the exact same set of meta-keywords, but only return the pairs where the set of meta-keywords is not empty. [Language: SQL]


## Task 4.

Now that we have our data in a database, let’s revisit the “interesting observations” task from Milestone 1 - but now using queries to the database. The idea is to write database queries (e.g. using GROUP BY and COUNT) that explore features of the data set that are relevant to the fake news prediction task: outliers, artefacts. It’s OK to investigate the same issues as in Milestone 1 (now using database queries) - but you are also very welcome to come up with completely new queries. You should write at least 3 such queries.


## Task 5.

Just like last time, after the hand in deadline, each group will be asked to evaluate the work of three other groups, based on a short list of criteria that you can find within the peergrade system. Again, this will only work well if everyone puts some effort into providing constructive comments, so please allocate some time to do this properly. It is an opportunity to get some feedback that can help you improve your final project. The deadline for giving feedback is a week after the hand-in deadline